# ======================
# GENERAL
# ======================
.DS_Store
Thumbs.db

# ======================
# JAVA / SPRING BOOT
# ======================
target/
*.log
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/

# ======================
# NODE / REACT
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
build/
dist/

# ======================
# ENV FILES (IMPORTANT)
# ======================
.env
.env.local
.env.*.local

# ======================
# OS FILES
# ======================
*.swp
*.swo